@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

body,
#root {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to top, #bfbaff, #f8f8fa, #F8F9FA);
}
.grid-container {
  display: grid;
  grid-template-areas: "header""main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

h2{
  padding: 2rem;
  margin: 2rem;
  font-family: roboto;
}

header {
  grid-area: header;
  background-color: #F8F9FA;
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

main {
  grid-area: main;
  
}

footer {
  grid-area: footer;
  color: white;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 5rem; 
  background: linear-gradient(to right, #30297e, #18114b);

}

.content {
  display:flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}
/* NAVBAR */
.nav{
  top: 0vh;
  height: 5rem;
  position: fixed;
  background-color: #F8F9FA;
  box-shadow: 0px 5px 5px rgba(197, 197, 197, 0.25);
  width: 100%;
}

.nav p{
  align-items: center;
  padding: 1rem;
}

nav ul{
  list-style: none;
}
.nav-button:hover{
  color: #14274e;
  text-decoration: none;
}

.nav-button{
  border: none;
  background-color: #F8F9FA;
  color: #7c7c7c;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 16px;
}

.logo{
  background-color: #F8F9FA;
  border: none;
}
/* END NAVBAR */

/* Beranda */
.home{
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: space-between;
  width: 90%;
  height: 70vh;
  margin-top: 75px;
  margin-left: 80px;
  position:inherit;
  padding-top: 0rem;
  align-items: center;
  background: #F8F9FA;
  border-radius: 50px;
  box-shadow: -5px 5px 5px rgba(101, 101, 101, 0.25); 
  background: linear-gradient(to right, #221d57, #3c337a, #48296d);

}

.title {
  align-items: center;
  color: white;
  font-family: righteous;
  margin: 6rem;
}
.title h1 {
  font-size: 64px;
}
.title-sub {
  font-size: 32px;
  font-family: roboto;
}
.title-p {
  font-size: 18px;
  font-family: roboto;
}
.title button {
  background-color: orange;
  border: none;
  border-radius: 30px;
  width: 12rem;
  height: 3rem;
}
.title button :hover{
  color: #18114b;
  text-decoration: none;
}
.text-button {
  font-family: roboto;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.beranda-img {
  width: 550px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
